$roboto: 'Roboto', Arial, Helvetica, sans-serif;

// colors
$primary-color: #ef3124;
$black: #0e0e0e;
$light-black: #202022;
$gray: #e9e9eb;
$dark-gray: #838383;
$medium-gray: #dcdde1;
$light-gray: #f3f4f6;
$white: #fff;

$green: #19C152;
$yellow: #FFC700
